body {
  font-family: verdana;
  color: #373737;
  font-size: 1rem;
  background-color: #F4F4F4;
}
a {
  text-decoration: none;
  color: #373737;
}

#container {
  display: flex;
}

#left {
  flex: 1;
  margin-right: 1rem;
}

#right {
  flex: 3;
}


input[type='text'], select{
  height: 1.5rem;
  min-width: 120px;
  font-size: 1rem;
}
h2 {
  text-align: center;
  font-size: 1rem;
}

.gold {
  background-color: #C0B283;
}

.silk {
  background-color: #DCD0C0;
}

.paper {
  background-color: #F4F4F4;
}

.dark {
  background-color: #373737;
}

.warning {
  background-color: #F4F4F4;
  color: #373737;
}

.danger {
  background-color: #C0B283;
  color: #F4F4F4;
}

button {
  background-color: #373737;
  color: #F4F4F4;
  border-radius: 0.25rem;
}
form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
form > * {
  font-size: 1rem;
  margin: 0.5rem;
}
form > button {
  padding: 0.5rem;
}
#departments {
  display: flex;
  justify-content: space-around;
}
#departments > * {
  border-right: solid 1px #C0B283;
  padding-right: 0.5rem;
}

.selected {
  display: flex;
  flex-direction: column;
}
.selected button {
  padding: 0.5rem;
}

.selected > *{
  margin-bottom: 0.5rem;
}

#users {
  display: flex;
  flex-direction: column;
}
#users > * {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user {
  display: flex;
}
.row > *{
  margin-right: 1.5rem;
}
.error {
  color: red;
}
